%YAML 1.2
---
# SPDX-License-Identifier: CC0-1.0
# SPDX-FileCopyrightText: 2023–2026 Jason Yundt <jason@jasonyundt.email>
repos:
    -
        repo: https://github.com/fsfe/reuse-tool
        rev: v6.2.0
        hooks:
            - id: reuse
    -
        repo: https://gitlab.com/vojko.pribudic.foss/pre-commit-update
        rev: v0.9.0
        hooks:
            -
                id: pre-commit-update
                args:
                    - --dry-run
                exclude: &default_excludes '^LICENSES/'
    -
        # yamllint disable-line rule:line-length
        repo: https://github.com/editorconfig-checker/editorconfig-checker.python
        rev: 3.6.0
        hooks:
            -
                id: editorconfig-checker
                exclude: *default_excludes
                exclude_types:
                    # Another hook will lint YAML files, and it will do
                    # all of the same checks that editorconfig-checker
                    # would have done.
                    - yaml
                args:
                    # If a file is automatically generated, it should
                    # either not be added to the Git repo or it should
                    # still respect my EditorConfig.
                    - -ignore-defaults
    -
        repo: https://github.com/pre-commit/pre-commit-hooks
        rev: v6.0.0
        hooks:
            -
                id: check-case-conflict
                exclude: *default_excludes
            -
                id: check-merge-conflict
                exclude: *default_excludes
            -
                id: check-symlinks
                exclude: *default_excludes
            -
                id: check-vcs-permalinks
                exclude: *default_excludes
            -
                id: debug-statements
                exclude: *default_excludes
            -
                id: destroyed-symlinks
                exclude: *default_excludes
    -
        repo: https://github.com/pre-commit/pygrep-hooks
        rev: v1.10.0
        hooks:
            -
                id: text-unicode-replacement-char
                exclude: *default_excludes
    -
        repo: https://github.com/zricethezav/gitleaks
        rev: v8.30.0
        hooks:
            -
                id: gitleaks
                exclude: *default_excludes
    -
        repo: https://github.com/Jayman2000/jasons-pre-commit-hooks
        rev: v0.7.0
        hooks:
            -
                id: detect-bad-unicode
                exclude: *default_excludes
            -
                id: forbid-paths-that-match
                exclude: *default_excludes
                args:
                    - --pattern
                    - '^LICENSE'
                    - --pattern
                    - '^COPYING'
            -
                id: repo-style-checker
                args:
                    # I need to disable these checks on or else it will
                    # try to overwrite the version of the files that’s
                    # in the main branch with the versions of the files
                    # that’s in the latest stable release.
                    - --skip
                    - 'copying.md correct text'
                    - --skip
                    - '.editorconfig correct text'
            -
                id: unreleased-commit-checker
                exclude: *default_excludes
            -
                id: forbid-template-markers
                exclude: *default_excludes
    -
        # yamllint disable-line rule:line-length
        repo: &lfpch_url https://github.com/macisamuele/language-formatters-pre-commit-hooks
        rev: v2.16.0
        hooks:
            -
                id: pretty-format-ini
                exclude: *default_excludes
            -
                id: pretty-format-toml
                exclude: *default_excludes
                args:
                    - --autofix
                    - --indent
                    - "4"
    -
        repo: https://github.com/adrienverge/yamllint
        rev: v1.37.1
        hooks:
            -
                id: yamllint
                exclude: *default_excludes
    -
        repo: https://github.com/igorshubovych/markdownlint-cli
        rev: v0.45.0
        hooks:
            -
                id: markdownlint
                exclude: *default_excludes
    -
        repo: https://github.com/pre-commit/mirrors-mypy
        rev: v1.19.1
        hooks:
            -
                id: mypy
                exclude: *default_excludes
                additional_dependencies:
                    - dulwich
                    - python-dateutil
                    - types-python-dateutil
                    - PyYAML
                    - types-PyYAML
                    - semver
                    - wcwidth
                args:
                    - --strict
    -
        repo: https://github.com/astral-sh/ruff-pre-commit
        rev: v0.14.11
        hooks:
            -
                id: ruff-check
                exclude: *default_excludes
    -
        repo: https://github.com/pre-commit/pre-commit
        rev: v4.5.1
        hooks:
            -
                id: validate_manifest
                exclude: *default_excludes
    -
        repo: https://github.com/NixOS/nixfmt
        rev: v1.2.0
        hooks:
            -
                id: nixfmt
                exclude: *default_excludes
    -
        # TOOD: Once the pull request gets merged into the upstream
        # project, replace this URL with the URL for the upstream
        # project.
        #
        # I’m using a fork of nix-pre-commit-hooks here because the
        # upstream version doesn’t work unless you have the nix-command
        # and flakes experimental features enabled. I don’t have any
        # experimental features enabled on my system (I always use
        # --extra-experimental-features).
        repo: https://codeberg.org/JasonYundt/nix-pre-commit-hooks-pr
        rev: pr-1-rev-0
        hooks:
            -
                id: nix-format
                exclude: *default_excludes
                args:
                    # I find that I get better error messages when I use
                    # --keep-going.
                    - --keep-going
            -
                id: nix-check-flake
                exclude: *default_excludes
                args:
                    - --all-systems
                    - --keep-going
    -
        repo: local
        hooks:
            -
                id: &id test-dev-shell-dependencies-for-pre-commit
                name: *id
                exclude: *default_excludes
                stages:
                    - manual
                always_run: true
                language: system
                entry: nix
                args:
                    - --extra-experimental-features
                    - nix-command flakes
                    - run
                    - --print-build-logs
                    - .#test-dev-shell-dependencies-for-pre-commit
                pass_filenames: false
